<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Todo</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet"
        type="text/css"/>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<!--this is input box-->
<form class="flex justify-center items-center" th:object="${dataObject}" th:action="@{/send-data}"
      th:method="post">
  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text">Enter your todo</span>
    </div>
    <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs"
           autofocus th:field="*{data}"/>
  </label>
  <button class="btn btn-outline btn-secondary mt-8 ml-2">Add</button>
</form>

<!--list-->
<div class="list-container flex justify-center flex-col items-center mt-3 gap-y-3">
  <div class="card bg-base-100 w-96 shadow-xl" th:each="todo : ${data}">
    <div class="card-body flex flex-row">
      <p th:text="${todo.getData()}"></p>
      <form th:action="@{/delete-data}" th:method="post" th:object="${delete}">
        <input type="hidden" th:name="data" th:value="${todo.getData()}">
        <button class="btn btn-square btn-sm">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"/>
          </svg>
          Delete
        </button>
      </form>
    </div>
  </div>

</div>
</body>
</html>